* {
    box-sizing: border-box;
}

body {
    background-color: #F2F5F9;
    font-family: Lato, sans-serif;
}

.text-primary {
    color: #677489
}

.text-default {
    color: #111729
}

.text-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-small {
    font-size: 1rem;
    font-weight: 600;
}

.text-body {
    font-size: 1rem;
}

.text-smaller {
    font-size: 0.75rem;
}

.mask {
   position: relative;
}

svg {
    position: absolute;
    bottom: -1px;
}

.card {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: min(100%, 400px);
    height: auto;
    overflow: hidden;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.card :is(p, h1, h2, h3, h4, h5, h6, ) {
    margin: 0;
    padding: 0;
}

.card .main {
    padding: 10px 25px 25px 25px;
    border-bottom: 2px solid #F2F5F9;
}

.main .title {
    padding: 5px 0;
}

.main .description {
    padding: 5px 0;
}

.hero-image {
    display: block;
    width: 100%;
    object-fit: cover;
}

.user {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 15px;
    padding: 25px;
}

.user .image {
    display: block;
    width: 10%;
    object-fit: cover;
    border-radius: 50%;
}